fastapi==0.111.0
uvicorn==0.29.0
PyMySQL==1.2.0
sqlalchemy>=2.0.0
python-dotenv==1.0.1
pydantic==2.7.1

opencv-python
ultralytics
numpy

jinja2==3.1.4
python-multipart==0.0.9

email-validator==2.2.0
bcrypt
PyJWT==2.9.0

google-auth
google-auth-oauthlib
google-api-python-client

tzdata
pytest
