<div
  id="sideMenuOverlay"
  class="side-menu-overlay"
  hidden
></div>

<aside
  id="sideMenu"
  class="side-menu"
  aria-hidden="true"
>
  <div class="side-menu-header">
    <div class="side-menu-user">
      <strong id="sideMenuUserName">
        사용자님
      </strong>

      <span id="sideMenuUserType">
        개인 운동자
      </span>
    </div>

    <button
      type="button"
      id="sideMenuCloseButton"
      class="side-menu-close-button"
      aria-label="메뉴 닫기"
    >
    <img
      src="/static/assets/icons/no.svg"
      alt=""
    >
    </button>
  </div>

  <nav
    id="sideMenuList"
    class="side-menu-list"
    aria-label="부가 메뉴"
  ></nav>
</aside>
